@media only screen and (max-device-width: 768px){
  .navbar-section{
    height: 60px;
    width: 100%;
  }
  .navbar-logo{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
  }
  .navbar-logo a{
    font-size: 2rem;
    color: grey;
    text-decoration: none;
  }
  .fa{
    font-size: 2.3rem;
  
  }



  header{
    width: 100%;
    height: 70vh;
    color: white;
    background-image: url(images/hero-bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .header-section{
    width: 60%;
    margin-top: 250px
    
  }
  .header-section-container {
    width: 85%;
    margin-left: 0px;
    margin: auto;
  }
  .header-text h3{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1px;
  } 
  #services{  
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    border-bottom: 10px solid #ffffff;
    font-size: 4.5rem;
    margin-bottom: 30px;
    font-weight: 900;
  }
  .header-logo{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .header-logo img{
    margin-bottom: 25px;
  }
  .header-logo p{
    letter-spacing: 1px;
  }

    /* ------------------------- */

  .body-section{
    background-color: #e6e8e8;
    height: 48vh;
    width: 100%;
  }
  .our-services-heading{
    margin-top: 20px;
  }
  .our-services-section {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 90px;
  }
  .our-services-section p {
    font-weight: 300;
    padding-bottom: 20px;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 85%;
    margin: auto;
  }
  .our-services-section h1{
    padding-bottom: 30px;
    font-size: 3rem;
    width: 80%;
    margin: auto;
  }
  .custom-button{
    border-style: none;
    background-color:#e33434;
    padding: 20px 40px;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 20px;
  }

  /* ------------------------------ */

  .body-section-2{
    display: block;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 60vh;
    text-align: center;
  }
  
  #Open-Sans-Font{
    font-family: 'Open Sans', sans-serif;
  }
  .help-content-1 img{
    display: none;
  }
  .help-content-2 img{
    display: none;
  }

  .image-1{
    background-image: url(images/billionphotos1882993.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 350px;
    margin: auto;
  }
  .image-2{
    background-image: url(images/billionphotos1883011.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 350px;
    margin: auto;
  }
  .help-content-1 p{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    line-height: 1.7rem;
    text-align: left;
  }
  .help-content-2{
    margin-top: 40px;
  }
  .help-content-2 h2{
    width: 70%;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
  }
  .help-content-2 h3{
    width: 70%;
    font-size: 1.5rem;
    color: #e33434;
    padding-bottom: 60px;
    text-align: left;
    margin: auto;
  }

/* ------------------------------------------ */

  .body-section-3{
    width: 100%;
    height: 54vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    margin-top: 550px;
  } 
  .best-quality{
    background-image: url(images/billionphotos1079319min.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: inherit;
    width: 50%;
    margin-left: 20px;
    height: 85vh;
  }
  .best-quality-text{
    height: 400px;
    width: 40%;
    margin: auto;
    margin-top: 170px;
    align-content: center;
  }
  .best-quality-text h1{
    width: 40%;
    font-size: 2.5rem;
    color: #104e92;;
  }
  .best-quality-text p{
    line-height: 1.5em;
    font-size: 1rem;
    margin-bottom: 20px;
  
  }
  .best-quality-text .custom-button{
    width: 150px;
    border-style: none;
    background-color:#e33434;
    padding: 15px 30px;
    border-radius: 4px;
    color: #ffffff;
  }

/* ------------------------------------------------ */

.body-section-4{
  background-color: #ffffff;
  width: 100%;
  height: 50vh;
  margin: auto;
  justify-content: center;
}
.our-services{
  width: 80%;
  margin: auto;
}
.our-services-heading h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 3.3rem;
}
.our-services-duties{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.our-services-duties h4{
  font-size: 1.5rem;
}
.our-services-duties p{
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 30px;
}
.duty{
  width: 30%;
}
.duty h4{
  margin-top: 40px;
  margin-bottom: 20px;
}
#icon{
  display: inline-block;
  width: 45%;
  background-color: #e33434;
  border-radius: 50%;
  color: #ffffff;

  
}
#icon img{
  padding: 20px;
  width: 80px;

}

  /* ------------------------------------ */

  .body-section-5{
    width: 100%;
    background-color: #104e92;;
    height: 90vh;
    display: grid;

  }
  .about-us-section{
    grid-template-columns: repeat(5, 1fr);
    gap: 27px;
    margin: auto;
    width: 85%;
  }
  .view-1{
    display: none;
  }
  .view-2{
    display: none;
  }
  .grid-item{
    background-color: #104e92;
    overflow: hidden;
    height: 320px;
    width: 320px;
    /* border: 2px solid white; */
  }
  .about-us-section .item-1{
    grid-column: auto / span 4;
    background-color: #104e92;
    color: #ffffff;
    height: 100px;
    width: 100%; 
    margin-top: 10px;
  }
  .item-1 .about-us{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .item-1 .about-us p{
    letter-spacing: 2px;
    color: #ffffff;
    width: 100px;
  }
  .item-1 .about-us h1{
    font-size: 4rem;
    font-weight: 400;
  }
  .item-1 .about-us h2{
    font-size: 3.8rem;
    font-weight: 700;
  }
  .item-2{
    grid-column: auto / span 2;
  }
  .item-3{
    grid-column: auto / span 2;
  }
  .item-4{
    grid-column: auto / span 2;
  }
  .item-5{
    grid-column: auto / span 2;
  }
  .grid-item img{
    height: 320px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

/* ------------------------------------------ */

  .todo-section{
    height: 52vh;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .todo-text{
    width: 60%;
    margin: auto;
    
  }
  .todo-text h1{
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 2rem;
  }
  .todo-text p{
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 2rem;
  }
  .todo-button{
    display: block;
    /* margin: 30px; */
    padding-bottom: 100px;
    width: 100%;
    justify-content: space-between;
  }
  .custom-button2{
    border-style: none;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid black;
    margin-top: 40px;
    margin-left: 10px;
  }

} 














@media only screen and (max-device-width : 500px) {
  .navbar-section{
    height: 60px;
    width: 100%;
  }
  .navbar-logo{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
  }
  .navbar-logo a{
    font-size: 2rem;
    color: grey;
    text-decoration: none;
  }
  .fa{
    font-size: 2.3rem;
  
  }



  header{
    width: 100%;
    height: 110vh;
    color: white;
    background-image: url(images/hero-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .header-section{
    width: 100%;
    /* margin: auto; */
    margin-top: 480px
    
  }
  .header-section-container {
    width: 80%;
    margin-left: 0px;
    margin: auto;
  }
  .header-text h3{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 10px;
  } 
  #services{  
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    border-bottom: 10px solid #ffffff;
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-weight: 900;
  }
  .header-logo{
    visibility: hidden;
  }

    /* ------------------------- */

  .body-section{
    background-color: #e6e8e8;
    height: 80vh;
    width: 100%;
  }
  .our-services-heading{
    margin-top: 50px;
  }
  .our-services-section {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 40px;
  }
  .our-services-section p {
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 2.3rem;
    width: 85%;
    margin: auto;
  }
  .our-services-section h1{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 2.5rem;
    width: 70%;
    margin: auto;
  }
  .custom-button{
    border-style: none;
    background-color:#e33434;
    padding: 20px 40px;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 20px;
  }

  /* ------------------------------ */

  .body-section-2{
    display: block;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 80vh;
    text-align: center;
  }
  
  #Open-Sans-Font{
    font-family: 'Open Sans', sans-serif;
  }
  .help-content-1 img{
    display: none;
  }
  .help-content-2 img{
    display: none;
  }

  .image-1{
    background-image: url(images/billionphotos1882993.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .image-2{
    background-image: url(images/billionphotos1883011.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .help-content-1 p{
    width: 80%;
    margin: auto;
    text-align: left;
    margin-top: 40px;
    line-height: 1.7rem;
  }
  .help-content-2{
    margin-top: 40px;
  }
  .help-content-2 h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
    width: 80%;
  }
  .help-content-2 h3{
    font-size: 1.5rem;
    color: #e33434;
    /* margin-bottom: 40px; */
    width: 80%;
  }

/* ------------------------------------------ */

  .body-section-3{
    width: 100%;
    height: 150vh;
    background-color: rgb(235, 235, 235);
    display: block;
    margin-top: 550px;
  } 
  .best-quality{
    background-image: url(images/billionphotos1079319min.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 400px;
    margin: auto;
  }
  .best-quality-text{
    width: 70%;
    margin: auto;
    margin-top: 170px;
    align-content: center;
  }
  .best-quality-text h1{
    width: 50%;
    font-size: 3rem;
    color: #104e92;;
  }
  .best-quality-text p{
    line-height: 1.5em;
    font-size: 1.2rem;
    margin-bottom: 20px;
  
  }
  .best-quality-text .custom-button{
    width: 150px;
    border-style: none;
    background-color:#e33434;
    padding: 15px 30px;
    border-radius: 4px;
    color: #ffffff;
  }

/* ------------------------------------------------ */

  .body-section-4{
    background-color: #ffffff;
    width: 100%;
    height: 70vh;
    margin: auto;
    justify-content: center;
  }
  .our-services{
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
  }
  .our-services-heading h1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2.5rem;

  }
  .our-services-duties{
    display: block;
    justify-content: space-between;
    margin: auto;
  }
  .our-services-duties h4{
    font-size: 1.5rem;
  }
  .our-services-duties p{
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
  }
  .duty{
    width: 100%;
    margin-top: 30px;
  }
  .duty h4{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #icon{
    display: inline-block;
    width: 27%;
    background-color: #e33434;
    border-radius: 50%;
    color: #ffffff;
  
    
  }
  #icon img{
    padding: 20px;
    width: 80px;
  
  }

  /* ------------------------------------ */

  .body-section-5{
    width: 100%;
    background-color: #104e92;;
    height: 250vh;
    display: block;

  }
  .about-us-section{
    display: block;
    grid-template-columns: repeat(6, 1fr);
    gap: 27px;
    margin: auto;
    width: 80%;
    margin-top: 530px;
    padding-top: 30px;
  }
  .view-1{
    display: none;
  }
  .view-2{
    display: none;
  }
  .grid-item{
    background-color: #104e92;
    overflow: hidden;
    height: 350px;
    width: 300px;
    margin: auto;
  }
  .item-1{
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    background-color: #104e92;
    color: #ffffff;
    margin-right: 50px;
    padding-bottom: 210px;
  }
  .item-1 .about-us{
    display: block;
  }
  .item-1 .about-us p{
    letter-spacing: 2px;
    color: #ffffff;
    width: 100px;
  }
  .item-1 .about-us h1{
    font-size: 4rem;
    font-weight: 400;
  }
  .item-1 .about-us h2{
    font-size: 3.8rem;
    font-weight: 700;
  }
  .item-2{
    grid-column: auto / span 2;
  }
  .item-3{
    grid-column: auto / span 2;
  }
  .item-4{
    grid-column: auto / span 2;
  }
  .item-5{
    grid-column: auto / span 2;
   
  }
  .grid-item img{
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

/* ------------------------------------------ */

  .todo-section{
    height: 52vh;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .todo-text{
    width: 60%;
    margin: auto;
    
  }
  .todo-text h1{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
  .todo-text p{
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 1.3rem;
  }
  .todo-button{
    display: block;
    /* margin: 30px; */
    padding-bottom: 50px;
    width: 80%;
  }
  .custom-button2{
    border-style: none;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid black;
    margin-top: 40px;
    margin-left: 0px;
  }
}

