*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navbar-section{
  width: 100%;
}
.navbar-logo{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-logo a{
  font-size: 2rem;
  color: grey;
  text-decoration: none;
}
.fa{
  font-size: 2.3rem;

}
header{
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  color: white;
  background-image: url(images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-section{
  width: 100%;
  /* padding-bottom: 100px; */
  padding-left: 150px;

}
/* .header-section-container{
  width: 50%;
  margin: 270px 0;
  margin-left: 60px;
} */
.header-text h3{
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 300;
  line-height: 1rem;
  padding-bottom: 20px;
}
#services{  
  font-family: 'Inter', sans-serif;
  letter-spacing: 5px;
  border-bottom: 10px solid #ffffff;
  font-size: 6rem;
  font-weight: 900;
}
.header-logo{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 25px;
}
.header-logo img{
  padding-bottom: 25px;
}
.header-logo p{
  letter-spacing: 1px;
}

/*----------------------------------------*/

.body-section{
  background-color: #e6e8e8;
  /* height: 70vh; */
  width: 100%;
}

.our-services-section {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 80px;
}
.our-services-section p {
  color: grey;
  font-weight: 300;
  padding-bottom: 30px;
  font-size: 1.2rem;
  line-height: 2rem;

}
.our-services-section h1{
  padding-bottom: 40px;
  font-size: 3rem;
}
.custom-button{
  border-style: none;
  background-color:#e33434;
  padding: 20px 40px;
  border-radius: 4px;
  color: #ffffff;
}

/* ---------------------------------------- */

.body-section-2{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.body-section-2-container{
  justify-content: space-evenly;
  display: flex;
  width: 85%;
}
.image-1{
  background-image: url(images/billionphotos1882993.jpg);
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 20rem;
}
.image-2{
  background-image: url(images/billionphotos1883011.jpg);
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 20rem;
}

#Open-Sans-Font{
  font-family: 'Open Sans', sans-serif;
}
.help-content-1{
  width: 40%;
}
.help-content-1 p{
  /* width: 70%; */
  margin: auto;
  padding-top: 70px;
  line-height: 1.7rem;
}
.help-content-2{
  width: 40%;
  padding-top: 40px;
}
.help-content-2 h2{
  font-size: 1.8rem;
  padding-bottom: 20px;
}
.help-content-2 h3{
  font-size: 1.5rem;
  color: #e33434;
  padding-bottom: 75px;
}

/* ---------------------------------------- */

.body-section-3{
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.body-section-3-container{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.best-quality{
  background-image: url(images/billionphotos1079319min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 85vh;
  position: relative;
  top: 25px;
}
.best-quality-text{
  width: 40%;
  align-self: center;
}
.best-quality-text h1{
  font-size: 4rem;
  color: #104e92;;
}
.best-quality-text p{
  border-top: 10px solid #e33434;
  padding-top: 32px;
  line-height: 1.5em;
  font-size: 1.4rem;
  padding-bottom: 20px;
}
.best-quality-text .custom-button{
  width: 150px;
  border-style: none;
  background-color:#e33434;
  padding: 15px 30px;
  border-radius: 4px;
  color: #ffffff;
}

/* ------------------------------------------ */

.body-section-4{
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.our-services{
  width: 80%;
  padding: 50px 0;
}
.our-services-heading{
  padding-bottom: 50px;
}
.our-services-heading h1{
  font-size: 3rem;
}
.our-services-duties{
  display: flex;
  gap: 30px;
}
.our-services-duties h4{
  font-size: 1.5rem;
}
.our-services-duties p{
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 30px;
}

.duty{
  padding-bottom: 30px;
}
.duty h4{
  padding-top: 20px;
  padding-bottom: 20px;
}
#icon{
  display: inline-block;
  width: 23%;
  background-color: #e33434;
  border-radius: 50%;
  color: #ffffff;  
}
#icon img{
  padding: 20px;
  width: 5rem;
}

/* ---------------------------------------- */

.body-section-5{
  width: 100%;
  background-color: #104e92;;
}
.about-us-section{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 70px 0;
}
.item-1{
  background-color: #104e92;
  color: #ffffff;
  width: 40%;
  align-self: center;
}
.item-1 p{
  letter-spacing: 2px;
  color: #ffffff;
}
.item-1 h1{
  font-size: 5rem;
  font-weight: 400;
}
.item-1 h2{
  font-size: 5rem;
  font-weight: 700;
}
.item-2{
  background-image: url(images/frg.jpg);
  background-size: cover;
  background-position: center;
}

.item-3{
  background-image: url(images/rg.jpg);
  background-size: cover;
  background-position: center;
}

.item-4{
  background-image: url(images/billionphotos1882993.jpg);
  background-size: cover;
  background-position: center;
}

.item-5{
  background-image: url(images/billionphotos1882951.jpg);
  background-size: cover;
  background-position: center;
}
.flex-item{
  height: 10rem;
  width: 10rem;
} 
.gallery{
  display: flex;
  gap: 20px;
}
.gallery-2{
  display: flex;
  gap: 20px;
}
.gallery-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

/* ------------------------------------------ */

.todo-section{
  width: 100%;
  margin: auto;
  text-align: center;
}
.todo-text{
  width: 45%;
  margin: auto;
}
.todo-text h1{
  padding-top: 90px;
  padding-bottom: 40px;
  font-size: 2.3rem;
}
.todo-text p{
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 2rem;
}
.todo-button{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 46%;
  padding-bottom: 70px;
}
.custom-button2{
  border-style: none;
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid black;
}



@media only screen and (max-device-width: 1024px){
  header{
    width: 100%;
    height: 90vh;
  }
  .header-section{
    padding-left: 50px;
  }
  #services{  
    font-size: 5rem;
  }
  .header-logo{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 25px;
  }

  /* ---------------------------------- */

  .body-section-2-container{
    justify-content: space-evenly;
    display: flex;
    width: 90%;
  }


  /* ---------------------------------- */
  
  .best-quality{
    width: 50%;
    height: 75vh;
  }
  .best-quality-text{
    width: 50%;
    align-self: center;
    padding-left: 20px;
  }
  .body-section-3-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
  .best-quality-text h1{
    font-size: 3.5rem;
  }

  /* --------------------------------- */

  #icon{
    width: 34%;
  }

  /* --------------------------------- */

  .todo-text{
    width: 70%;
    margin: auto;
  }
  .todo-button{
    width: 43%;
  }

}





@media only screen and (max-device-width: 768px){

  header{
    background-size: cover;
    background-position: center;
  }
  .header-section{
    padding-left: 20px;
  }
  .header-text h3{
    font-size: 2rem;
  }
  #services{  
    font-size: 4rem;
  }

/* ------------------------------------ */

  .our-services-section p{
    font-size: 1.2rem;

  }
  .our-services-section h1{
    font-size: 2rem;
  }

/* ------------------------------------ */

  .body-section-2{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .body-section-2-container{
    display: block;
  }
  .image-1{
    width: 100%;
    height: 20rem;
  }
  .image-2{
    width: 100%;
    height: 20rem;
  }
  .help-content-1{
    width: 100%;
  }
  .help-content-2{
    width: 100%;
    padding-top: 40px;
  }

  /* ---------------------------------- */

  .body-section-3-container{
    width: 85%;
  }
  .best-quality{
    width: 45%;
    height: 60vh;
  }
  .best-quality-text{
    width: 50%;
  }
  .best-quality-text h1{
    font-size: 3.5rem;
    width: 100%;
  }

  /* ---------------------------------- */

  #icon{
    width: 45%;
  }

  /* ---------------------------------- */
  .about-us-section{
    display: block;
    width: 100%;
    justify-content: center;
    padding: 70px 0;
  }
  .about-us{
    display: flex;
    gap: 10px;
    justify-items: center;
  }
  .item-1{
    background-color: #104e92;
    color: #ffffff;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }
  .item-1 p{
    letter-spacing: 2px;
    color: #ffffff;
  }
  .item-1 h1{
    font-size: 3rem;
    font-weight: 400;
  }
  .item-1 h2{
    font-size: 3rem;
    font-weight: 700;
  }
  .flex-item{
    height: 20rem;
    width: 20rem;
  } 
  .gallery{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .gallery-2{
    display: flex;
    gap: 20px;
  }
  .gallery-container{
    display: flex;
    width: 85%;
    gap: 20px;
    margin: auto;
  
  }

  /* -------------------------------- */

  .todo-text{
    width: 80%;
  }
  .todo-text h1{
    font-size: 1.9rem;
  }
  .todo-text p{
    font-size: 1.5rem;
  }
  .todo-button{
    width: 50%;
  }
} 














@media only screen and (max-device-width : 500px) {

  header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    background-image: url(images/hero-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-section{
    padding-left: 20px;
    justify-self: flex-end;
    padding-bottom: 50px;
  }
  .header-text h3{
    font-size: 1.8rem;
    padding-bottom: 10px;
  }
  #services{  
    font-size: 3rem;
  }
  .header-logo{
    display: none;
  }
  
  /* -------------------------------- */

  .body-section{
    background-color: #e6e8e8;
    width: 100%;
  }
  .our-services-section {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .our-services-section p{
    font-size: 1.2rem;
  }
  .our-services-section h1{
    padding-bottom: 40px;
    font-size: 3rem;
  }

  /* ----------------------------------- */

  .body-section-2{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .body-section-2-container{
    display: block;
    width: 85%;
    /* justify-content: ; */
  }
  .image-1{
    width: 80%;
    height: 20rem;
  }
  .image-2{
    width: 80%;
    height: 20rem;
  }
  .help-content-1{
    width: 100%;
  }
  .help-content-1 p{
    width: 70%;
    margin: 0;
  }
  .help-content-2{
    width: 100%;
    padding-top: 40px;
  }

  /* --------------------------------- */

  
  .body-section-3-container{
    width: 80%;
    display: block;
  }
  .best-quality{
    width: 100%;
    height: 60vh;
  }
  .best-quality-text{
    width: 80%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .best-quality-text h1{
    font-size: 3.5rem;
  }
  .best-quality-text p{
    padding-bottom: 20px;
  }

  /* -------------------------------- */

  .our-services{
    width: 70%;
    margin: auto;
  }
  .our-services-duties{
    display: block;
    /* gap: 30px; */
  }
  #icon{
    width: 27%;
  
  }

  /* -------------------------------- */

  .body-section-5{
    width: 100%;
  }
  .about-us-section{
    display: block;
    width: 100%;
  }
  .about-us{
    display: block;
  }
  .item-1{
    padding-bottom: 20px;
    width: 80%;
  }
  .item-1 h1{
    font-size: 3rem;
    font-weight: 400;
  }
  .item-1 h2{
    font-size: 3rem;
    font-weight: 700;
  }
  .flex-item{
    height: 22rem;
    width: 22rem;
    margin-bottom: 20px;
  } 
  .gallery{
    display: block;
  }
  .gallery-2{
    display: block;
  }
  .gallery-container{
    display: block;
    width: 80%;
  }

  /* ----------------------------------- */

  .todo-section{
    width: 100%;
  }
  .todo-text{
    width: 80%;
  }
  .todo-button{
    display: block;
    width: 60%;
    padding-bottom: 70px;
  }
  .custom-button2{
   margin-top: 20px;
  }
}